.right-content {
    flex: 0.3;
}


.header {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding: 24px 0 24px 60px;
      box-sizing: border-box;
      z-index: 2;
    }
    .header-content {
      display: flex;
      align-items: center;
      background: #d82c2c;
      padding: 10px 32px;
      border-radius: 10px;
      box-shadow: 0px 2px 16px rgba(0,0,0,0.2);
    }
    .header-logo {
      font-size: 40px;
      margin-right: 16px;
    }
    .header-title {
      color: #e60f93;
      font-size: 32px;
      font-weight: bold;
    }
    .center-content {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }